/* #matter-js-canvas {
    margin-top: -20px;
} */

.stat {
    display: inline-block;
    text-align: center;
    z-index: 1;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

#stats {
    background-color: #F1F7ED;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin: 10px;
    z-index: 1;
    position: relative;
}



#game {
    left: 0; 
    top: 0; 
    width: 100%;
    height: 100%;
    position: absolute;
}

#matter-js-canvas {
    left: 0; 
    top: 0; 
    width: 100%;
    height: 100%;
    position: absolute;
}

#canvases {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.bottom-layer {
    width: 100%;
    height: 100%;
    z-index: -1;
}

html {
    height: 100%;
    font-family: 'Iceland';
    background-color: #91C7B1;
}
  
*{font-family: inherit;} 

body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.flex {
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
  
.flex .box {
    z-index: 1;
    width: 500px;
    max-width: 80%;
    background-color: #F1F7ED;
    color: #54494B;
    padding: 30px;
    border-radius: 25px;
    height: fit-content;
    max-height: 80%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 5px;
}

h1 {
    font-size: 70px;
    margin: 5px;
}

h2 {
    font-size: 30px;
    margin: 5px;
}

h3 {
    margin: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 25px;
}

#shop, #log, #quests, .bladebtn, .gameHeader, #scores, #pauseMenu, #gameEnd, #shopbtn0{
    display: none;
}

#bladebtn0 {
    display: block;
}

button {
    margin: 10px;
    padding: 5px;
    font-size: 25px;
    background-color: #B33951;
    border: 1px solid #B33951;
    border-radius: 10px;
    padding: 5px 10px;
    color: #F1F7ED;
    outline: none;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    box-shadow: 2px 2px 0px 0px;
    border-color: #B33951;
    background-color: #F1F7ED;
    color: #B33951;
}

button:active {
    border-color: #B33951;
    background-color: #F1F7ED;
    box-shadow: none;
    color: #B33951;
}

.listcontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}

.listitem {
    background-color: #E3D081;
    margin: 5px;
    border-radius: 10px;
}

.menu-txt {
    float: left;
    padding: 5px;
    margin: 5px;
    margin-left: 15px;
    text-align: left;
}

.quest-status{
    float: right;
    margin: 30px;
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 10px;
    padding: 10px;
    background-color: #54494B;
    color:#F1F7ED;
}

.shopbtn, .bladebtn {
    float: right;
    margin: 30px;
    margin-right: 15px;
    margin-left: 15px;
}

.linktext {
    font-weight: bold;
    cursor: pointer;
    color: #B33951;
    
}
#logtext {
    font-size: 25px;
    margin: 25px;
}

.pausebtn {
    float: right;
    z-index: 1;
    position: relative;
}

.gameHeader {
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
    color:#54494B;
    padding: 20px;
    font-size: larger;
}

#gameEnd {
    font-size: x-large;
}


.popupContainer {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background: rgba(0,0,0,0.6);
  }

.popup {
    max-width: 80%;
    background-color: #F1F7ED;
    padding: 30px;
    color: #54494B;
    border-radius: 25px;
    text-align: center;
}

input {
    background-color: #91C7B1;
    padding: 10px 10px;
    margin: 8px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #F1F7ED;
    border-radius: 10px;
    max-width: 100%;
}
  
input:focus {
    box-shadow: 2px 2px 0px 0px;
    border-color: #54494B;
    color: #54494B;
}

form label {
    font-size: 20px;
}

#main button, #pauseMenu button {
    font-size: xx-large;
}

input {
    background-color: #91C7B1;
    padding: 10px 10px;
    margin: 8px;
    box-sizing: border-box;
    border: none;
    outline: none;
    color: #F1F7ED;
    border-radius: 10px;
    max-width: 100%;
}
  
input:focus {
    box-shadow: 2px 2px 0px 0px;
    border-color: #54494B;
    color: #54494B;
}

form label {
    font-size: 20px;
}

#main button, #pauseMenu button, #gameEnd button{
    font-size: xx-large;
}

table {
    margin: 20px;
    width: 90%;
}

th, tr, td {
    font-size: xx-large;
}